<!doctype html>
<html ng-app="shoestring.app">

<link rel="stylesheet" href="lib/codemirror-3.22/lib/codemirror.css">
<link rel="stylesheet" href="shoestring.css">

<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>

<script src="lib/angular-draganddrop.js"></script>

<script src="lib/codemirror-3.22/lib/codemirror.js"></script>
<script src="lib/codemirror-3.22/mode/htmlmixed/htmlmixed.js"></script>
<script src="lib/codemirror-3.22/mode/xml/xml.js"></script>
<script src="lib/codemirror-3.22/mode/javascript/javascript.js"></script>
<script src="lib/codemirror-3.22/mode/css/css.js"></script>
<script src="lib/codemirror-3.22/addon/fold/xml-fold.js"></script>

<script src="src/app.js"></script>
<script src="src/editor.js"></script>
<script src="src/fileutil.js"></script>
<script src="src/syntaxwidget.js"></script>
<script src="src/url-registry.js"></script>
<script src="src/tab.js"></script>
<script src="src/tokenstate.js"></script>
<script src="src/view.js"></script>
<script src="src/upload.js"></script>

<script src="src/syntax/css.js"></script>
<script src="src/syntax/script.js"></script>
<script src="src/syntax/cssurl.js"></script>
<script src="src/syntax/img.js"></script>

<script src="lib/polyfill/canvas-to-blob.js"></script>

<!--
TODO, figure out how to properly hook up google drive to the editor.

<script src="src/goog-drive.js"></script>
<script src="https://apis.google.com/js/client.js?onload=gapiInitScript">
</script>
-->

<script type="text/ng-template" id="app.html">
  <div class="tabbed-editor">

    <div tabs="selectedTab" class="editor-tabs">
      <div class="editor-rightside">
        <ng-include src="app.extension"></ng-include>
        <a class="editor-rightitem editor-close" href="#"'>&times;</a>
      </div>

      <p tab ng-hide="changeFilename" class="editor-tab" value="{{app.editFilename}}"
         ng-click="changeFilename = true">
      <p ng-if="changeFilename" class="editor-tab"><input ng-model="app.editFilename"
         ng-blur="$parent.changeFilename = false" autofocus>

      <p class="editor-refresh" ng-click="app.refresh()" title="CTRL R">refresh
    </div>

    <editor ng-if="!app.upload" class="editor" change="app.setText(value)"
            localstorage="{{app.editFilename}}" mode="{{app.editMode}}"></editor>

    <div upload ng-if="app.upload" file="{{app.editFilename}}"></div>

  </div>
</template>

<script type="text/ng-template" id="goog-drive.html">
  <span ng-hide="app.gapi"
        class="editor-rightitem" ng-click="app.gapiDialog()">sync with drive
  </span>
  <span ng-show="app.gapi" class="editor-rightitem">synced to {{app.gapi}}</span>
</script>

<script type="text/ng-template" id="upload.html">
  <div class="editor-upload">
    <div class="editor-fileinput"><input type="file"></div>
    <div class="editor-drop" drop="ctrl.drop($event)" drop-effect="copy"
        drag-over-class="editor-drop-accept" drop-accept="true"
        ng-if="!ctrl.uploaded">
      <div class="editor-drop-text">
        Drop an image here
      </div>
    </div>
    <button ng-click="ctrl.fit()">Fit</button>
    <button ng-click="ctrl.zoom(.25)">25%</button>
    <button ng-click="ctrl.zoom(.50)">50%</button>
    <button ng-click="ctrl.zoom(1.0)">100%</button>
    <button ng-click="ctrl.crop()" ng-hide="!ctrl.selection.width">Crop</button>
    <button ng-click="ctrl.revert()" ng-hide="!ctrl.originalImg">Revert
      </button>
    <div class="editor-crop">
      <div class="editor-img-parent" ng-mousedown="ctrl.dragBegin($event)">
        <svg ng-if="ctrl.uploaded"
            style="position: absolute; z-index: 1;" width="100%" height="100%"
            drop-accept="true" drop-effect="copy" drop="ctrl.drop($event)">
          <rect style="fill-opacity: 0; stroke: black"
                ng-attr-x="{{ctrl.selection.x}}" ng-attr-y="{{ctrl.selection.y}}"
                ng-attr-width="{{ctrl.selection.width}}"
                ng-attr-height="{{ctrl.selection.height}}"
                stroke-dasharray="20,4">
        </svg>
        <img ng-if="ctrl.uploaded" src="{{ctrl.uploaded}}">
      </div>
    </div>
  </div>
</script>

<script type="text" id="default.html">
<!--

  shoestring.html: Check it out at https://github.com/stechz/shoestring.html
  By Joel Pigg

  -->
<!doctype html>
<html>

<div class="red">
  Well, hello! Welcome to <b>shoestring.html</b>, a small experiment
  for prototyping in AngularJS, using AngularJS. It's probably easier
  to just show you what this does. In your browser tab, just type:
</div>

<div class="yellow">
  editme
</div>

<!--

  And now congrats! You can edit the HTML on this page. To start off,
  why don't you remove style="display: none" from the div below?

  To see your changes, just click "refresh" at the top or type CTRL-R.

  -->

<div style="display: none">

<div class="white">
  So, that's the basics. Oh, you can use angular expressions too.
  <p class="code">1 + 1 = {{1+1}}
  <p ng-hide="true">Er, wait...that doesn't look right. Oh. You'll need to add
    ng-app to the the &lt;html&gt; tag.
</div>

<div style="display: none" ng-style="{display:'block'}">

<div class="blue">
  Sweet, looks like you enabled angular. Maybe you'd like to play
  around with the stylesheet. From the editor find the line for the
  CSS link, and click on it. You'll see a blue box appear, and
  clicking it will get you to the CSS.
</div>

<link rel="stylesheet" href="default.css">

<div class="white">
  <div class="selfie"></div>
</div>
</script>

<script type="text" id="default.css">
* {
  padding: 0;
  margin: 0;
}

body {
  margin-right: 600px;
  font-family: Helvetica;
  line-height: 1.6;
}

.red {
  background-color: #aa4444;
  color: white;
  padding: 40px;
  font-size: 32px;
}

.yellow {
  padding: 40px;
  text-align: center;
  background-color: #dddd44;
  font-size: 32px;
  color: #119;
  letter-spacing: 3;
}

.white {
  padding: 40px;
  font-size: 32px;
}

.code {
  margin: 40px 0;
  font-family: monospace;
  background-color: #eee;
  padding: 10px;
}

.blue {
  background-color: #449;
  color: white;
  padding: 40px;
  font-size: 32px;
}

/*

You can even upload images! Click on the url line below, and then
click on the blue box that appears.

*/

.selfie {
  background-image: url(selfie.png);
  width: 300px;
  height: 300px;
  margin: auto;
}

/*

OK, one last thing. If you want to create a new file, click on the
filename up at the top to get an input box. All of it is saved to
localStorage, so be careful about clearing your cache!

Happy hacking
Joel

*/
</script>

<body>

<div ng-view></div>
<div class="page" view="viewCtrl"></div>
